In [5]:
import pandas as pd

In [38]:
df=pd.read_excel("E:\\demo.xlsx" ,na_values=['NaN' ,'#NA', 'NA'],keep_default_na=True)

In [39]:
df

        a    b    c
0  iphone  NaN  NaN
1  iphone   ss   na
2  iphone  NaN  NaN
3  iphone  NaN  NaN
4  iphone  NaN  NaN
5  iphone  NaN  NaN

In [8]:
df.shape

(6, 3)

In [9]:
df['a']

0    iphone
1    iphone
2    iphone
3    iphone
4    iphone
5    iphone
Name: a, dtype: object

In [31]:
error_data=['NAN','NULL','NA','#NA','nan','NaN']
valid_char="abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ()*+,-.:?[]_{}"
for header in df:
    r=1
    for word in df[header]:
        
        word=str(word)
        r+=1
        for error in error_data:  #check for error value
            #print(word , error)
            if(error in word):
                print(r,header, word, error)
                break
        for c in word:
            if( c not in valid_char):
                print(r,header, word, "not a valid character ",c)
                break

2 b nan nan
4 b nan nan
5 b nan nan
6 b nan nan
7 b nan nan
2 c nan nan
4 c nan nan
5 c nan nan
6 c nan nan
7 c nan nan

In [ ]:
import string
alphabet = string.ascii_letters+string.punctuation

In [ ]:
alphabet

In [ ]:
df['b'].str.strip(alphabet).astype(bool).any()

In [3]:
h=2;
str(h)

'2'

In [2]:
user = "Sammy"
lines = 50

print("Congratulations, " + user + "! You just wrote " + str(lines) + " lines of code.")

Congratulations, Sammy! You just wrote 50 lines of code.